* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  color: #505050;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212226;
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

mark {
  padding: 0 6px;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #148496;
}

.text-turquoise {
  color: #148496;
}
.text-pink {
  /* color: #ce1d53; */
  /* color: #e2366a; */
  color: #e64d7a;
}

/* =========================================
        SECTION HEADINGS
============================================ */
section {
  padding: 80px 0;
  margin: 0;
}

.section-heading h2 {
  font-size: 40px;
  font-weight: 200;
  text-align: center;
}
.section-heading span {
  font-weight: 400;
}

.section-heading-underline {
  width: 50px;
  height: 5px;
  background-color: #17a2b8;
  margin: 30px auto 60px auto;
}

/* =========================================
        NAVIGATION 
============================================ */

.navbar {
  box-shadow: 1px 1px 2px #c0c0c0;
  background: #fff;
  height: 90px;
}

.navbar-brand {
  color: #282828 !important;
  font-size: 30px;
  font-weight: 500;
}

.navbar .nav-item .nav-link {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  color: #212226;
  text-transform: uppercase;
  margin-left: 1.5rem;
}

.navbar .nav-item .nav-link:active,
.navbar .nav-item .nav-link:focus {
  font-weight: 600 !important;
}

.navbar-toggler-icon {
  margin: 5px;
}

.red-link {
  background: #e2366a;
  border: 1px solid #e2366a;

  color: white !important;
  border-radius: 2px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.red-link:hover {
  opacity: 0.8;
}

/* =========================================
        HOME  
============================================ */
#home {
  border: 1px solid transparent;
  padding: 0;
  margin: 0;
}
#carousel-wrapper {
  position: relative;
  padding: 0;
  margin: 90px 0 60px 0;
  width: 100%;
  height: 88vh;
}

#home-carousel {
  position: absolute;
  width: 100%;
  height: 88vh;
  top: 0;
  left: 0;
}

#carousel-wrapper .owl-carousel .item {
  width: 100%;
  height: 88vh;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
#carousel-wrapper .owl-carousel .item-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/home/computer-desk-doctor.jpg);
}
#carousel-wrapper .owl-carousel .item-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url(../img/home/apple-blank-business.jpg);
}
#carousel-wrapper .owl-carousel .item-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url(../img/home/bloom-blooming-blossom.jpg);
}

#carousel-wrapper .owl-theme .owl-nav.disabled + .owl-dots {
  background: #212226;
  margin: 0;
  padding: 1.25rem;
}
.home-content-box {
  width: 100%;
  height: 100%;
  display: table;
  z-index: 10;
  text-align: center;
}
.home-content-box-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.home-content-box-inner h1 {
  color: #fff;
  font-size: 60px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  word-spacing: 5px;
  padding: 20px 10px;
}
.home-content-box-inner h2 {
  font-family: 'Crafty Girls', sans-serif;
  color: #fff;
  word-spacing: 5px;
  padding: 10px;
}
.btn-group-vertical {
  display: block;
  width: 350px;
  margin: 80px auto;
  color: white;
  text-align: center;
}
.btn-info {
  font-family: 'Raleway', sans-serif;
  border-radius: 2px;
  border: 0;
  padding: 14px !important;
  text-transform: uppercase;
  font-size: 17px;
  margin-bottom: 15px;
}
.btn-outline-info {
  padding: 0 5px;
}

/* =========================================
        HEALTHY LIVING SUPPORT GROUP  
============================================ */
#healthy-living .card {
  border-radius: 2px;
}
#healthy-living .list-group {
  margin-top: 60px !important;
}
#healthy-living .list-group .active {
  background-color: #17a2b8;
  border: 1px solid #17a2b8;
  font-size: 18px;
  font-weight: 400;
}
#healthy-living .list-group-item {
  border-radius: 2px;
  font-size: 17px;
  text-align: center;
}
.invitations {
  text-align: center;
  padding: 20px 10px;
}
/* =========================================
        ABOUT DR. ALLYN 
============================================ */
#about {
  background: linear-gradient(white, #f7f7f7);
}
#about img:hover {
  opacity: 0.7;
}
.img-dr-wrapper {
  width: 290px;
  border: 1px solid lightgray;
  padding: 24px;
}
.img-bottle,
.img-chives {
  margin-top: 90px;
  -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
  transition: width 1s, height 1s, transform 1s;
  border: 1px solid #f0f0f0;
}
.img-bottle:hover,
.img-chives:hover {
  -ms-transform: scale(1, 1.2);
  -webkit-transform: scale(1, 1.2);
  transform: scale(1, 1.2);
}
#about h3 {
  padding: 0 0 15px 0;
  font-size: 24px;
  text-align: center;
}
.about-content-middle {
  margin: 40px;
}

/* =========================================
        SERVICES  
============================================ */
#services {
  background: linear-gradient(white, #f7f7f7);
}
/* BS Popover */
.media-object {
  max-width: 470px;
  margin: auto;
}

.popover {
  max-width: 500px;
  width: auto;
}
#services h3 {
  padding: 40px 0 10px 0;
  font-size: 24px;
}
#accordion .card {
  border-radius: 0 !important;
}
.card-link {
  color: #3292a6;
  font-size: 130%;
}
.fa-arrow-circle-down {
  padding-right: 10px;
}
#services-tabs ul {
  margin-bottom: 80px;
}
/* Animate service box */
#services .service-box-1,
#services .service-box-2,
#services .service-box-3,
#services .service-box-4 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
#services .service-box-1 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
#services .service-box-2 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
#services .service-box-3 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
#services .service-box-4 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.service-box-1 img,
.service-box-4 img {
  height: 300px;
  margin: 0 0 25px 0;
}
.img-hover figure {
  background: rgba(102, 178, 178, 0.6);
  height: 300px;
}
.img-hover figure img {
  opacity: 1;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.img-hover figure:hover img {
  opacity: 0.5;
}
.service-box-2 {
  padding: 30px;
  background: #ededeb;
  height: 300px;
  margin-bottom: 25px;
}
.service-box-3 {
  padding: 30px;
  background: #ededeb;
  height: 300px;
  margin-bottom: 25px;
}
/* =========================================
                NATUROPATHIC MEDICINE 
============================================ */
#naturopathic-medcine {
  background: linear-gradient(white, #f7f7f7);
}
#naturopathic-medcine-tabs ul {
  margin-bottom: 80px;
}
#naturopathic-medcine-tabs ul li a {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  color: #212226;
  text-transform: uppercase;
  padding: 14px 20px;
  text-decoration: none;
  border: 1px solid #b2d8d8;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
#naturopathic-medcine-tabs ul li a:hover,
#naturopathic-medcine-tabs ul li.r-tabs-state-active a:hover {
  background: #b2d8d8;
}
/* Tab active state */
#naturopathic-medcine-tabs ul li.r-tabs-state-active a,
#naturopathic-medcine-tabs ul li.r-tabs-state-active a:hover {
  background: #17a2b8;
  color: white;
  font-weight: 500;
}

.naturopathic-medcine-tab h3 {
  font-size: 24px;
  margin-bottom: 20px;
}
mark {
  background: yellow;
  font-weight: 600;
}
.tab-content {
  padding: 0 20px;
}
.card .card-header:hover {
  cursor: pointer;
}
/* =========================================
                Testimonials
============================================ */
#testimonials {
  background: linear-gradient(white, #f7f7f7);
  height: auto;
  padding-bottom: 100px;
}
#testimonial-slider {
  background: #f4f4f4;
  border: 1px solid lightgray;
  border-top-right-radius: 40%;
  padding: 40px 60px 40px 40px;
}
.testimonial h3 {
  padding: 20px 0 20px 5px;
}
.testimonial span {
  font-size: 17px;
}
.fa-comment {
  color: #b2d8d8;
  padding-right: 15px;
}
/* =========================================
                JUMBOTRON
============================================ */
.jumbotron h1 {
  text-align: center;
  font-weight: 400;
  word-spacing: 5px;
}

.jumbo-appointment h1 {
  color: #e2366a;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.jumbo-services {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
    url(../img/appointment/abstract-267046_960_720.png);

  /* Parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0 50px 0;
  margin: 0;
  border-radius: 0;
}
.jumbo-testimonial {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/testimonial/adult-balloon-beautiful.jpg);
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0;
  margin: 0;
  border-radius: 0;
}
.jumbo-appointment {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
    url(../img/appointment/abstract-267046_960_720.png);

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0 40px 0;
  margin: 0;
  border-radius: 0;
}
.jumbo-pyfv {
  background: linear-gradient(#f4f4f4, white);
  text-align: center;
  padding: 50px 10px 0 10px;
  margin: 80px 0 0 0;
  border-radius: 0;
}

/* =========================================
    MAKE AN APPOINTMENT  
============================================ */

/* Appointment Contact Info */
#appointment .card {
  background-color: #fff;
  border-radius: 2px;
  padding: 40px 20px;
  text-align: center;
  margin-bottom: 10px;
}
#appointment .card.active {
  background: #a3dae3;
  padding: 40px 20px 30px 20px;
}
#appointment .fa-home {
  color: #282828;
  font-size: 30px;
  padding-right: 10px;
}
#appointment .card i {
  color: #282828;
  font-size: 30px;
}
#appointment .card hr {
  width: 40px;
  height: 2px;
  background-color: #212226;
  margin: 20px auto 30px auto;
}
/* Hover state */
#appointment .card:hover {
  background: linear-gradient(white, #a3dae3);
}

#appointment .card p {
  font-size: 17px;
}
#appointment .card:hover i {
  transform: translateY(-20px);
}
/* Smooth transition */
#appointment .card,
#appointment .card i,
#appointment .card hr,
#appointment .card h4,
#appointment .card p {
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.credit-card-group {
  display: inline-block;
  margin: 10px 0 -26px 0;
}
.address {
  font-size: 20px;
  word-spacing: 3px;
  font-weight: 300;
  padding-top: 5px;
}
/* Prior to Your First Visit */
.pyfv-heading {
  font-family: 'Crafty Girls', sans-serif;
  margin: 30px 0;
  padding: 10px;
  text-align: center;
}

.pyfv-content {
  background-image: linear-gradient(to bottom right, #ffddeb, #c2e8f3);
  padding: 30px 20px 10px 20px;
  margin-bottom: 10px;
  border: 1px solid lightgray;
  border-radius: 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.pyfv-content h5 {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
}

/* Office Photos */
#office-photos-wrapper {
  margin-top: 80px;
}
.office-photo-item {
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}

/* Overlay Effect */
.office-photo-item-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  cursor: -webkit-zoom-in;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* Item Details Effect */
.office-photo-item-details {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.office-photo-item-details h3 {
  color: white;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 10px;
  -webkit-transform: translateY(-20%);
  transform: translateY(-20%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* Show Overlay on mouse over */
.office-photo-item:hover .office-photo-item-details h3 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.office-photo-item:hover .office-photo-item-overlay {
  opacity: 1;
}

/* GOOGLE MAP */
.jumbo-map {
  background-image: linear-gradient(#f7f7f7, white);
  padding: 80px 0;
  margin: 0;
}
.google-map {
  height: 380px;
  width: 95%;
  border: 1px solid lightgray;
}
/* =========================================
    KNOWLEDGE IS POWER    
============================================ */
#knowledge-is-power {
  padding: 30px 0 80px 0;
}
.jumbo-knowledge {
  background: #212226;
  padding: 40px 0 30px 0;
  margin-top: 20px;
  border-radius: 0;
}
.jumbo-knowledge h1 {
  font-size: 33px;
  color: #f4c613;
  font-weight: 400;
  word-spacing: 5px;
  text-transform: uppercase;
}
.jumbo-knowledge h3 {
  font-weight: 300;
}
.breadcrumb {
  background: white;
  padding: 30px 15px;
  font-size: 20px;
}
.breadcrumb-item {
  color: #3292a6;
}
.helpful-books .nav {
  margin: 30px 0 10px 50px;
}
.helpful-books .nav-item {
  font-size: 120%;
  margin-right: 1px;
  border: 1px solid lightgray;
  border-radius: 2px;
}
.helpful-books .card-header,
.helpful-links .card-header {
  background: #17a2b8;
  text-transform: uppercase;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.helpful-books .card-link,
.helpful-links .card-link {
  color: white;
  font-size: 23px;
}
.helpful-books .card-header:hover,
.helpful-links .card-header:hover {
  background: #3292a6;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  border: 1px solid #17a2b8;
  background: #17a2b8;
}
.helpful-books .tab-pane {
  margin-top: 40px;
}
.helpful-books h4 {
  font-size: 21px;
  font-weight: 500;
}
/* HELPFUL LINKS */
.helpful-links .list-group {
  margin-top: 30px;
}
.helpful-links .list-group-item {
  font-size: 20px;
  border: 0;
}
.helpful-links .list-group .active {
  background-image: linear-gradient(to right, lightgray, white);
  color: #212226;
  font-size: 20px;
  font-weight: 500;
  border-radius: 0;
}
/* =========================================
    FOOTER   
============================================ */
footer {
  background: #212226;
  color: #e8e8e8;
  word-spacing: 5px;
  padding: 50px 0 30px 0;
  font-weight: 300;
  text-align: center;
}
